 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="http://localhost:3000/">Inventory App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/viewInventory">View Inventory</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/addItem">Add Item</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/checkoutItem">Checkout Item</a>
        </li>
    </ul>
    </div>
    <div class="mt-2 mt-md-0">
    <a href="http://localhost:3000/login" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</a>
    </div>
</nav>
 
  <h1>Welcome to PetsApp!</h1>

  <button id="resetButton">Reset database</button>
  <hr/>

  Name: <input id="nameBox" type="text" size="20"/>
  <button id="readButton">Get profile</button>
  <button id="allUsersButton">Get all usernames</button>

  <div id="jobDiv"></div>
  <img id="petImage"></img>

  <hr/>
  Name: <input id="insertNameBox" type="text" size="20"/>
  Job: <input id="insertJobBox" type="text" size="20"/>
  Pet: <input id="insertPetBox" type="text" size="20"/>
  <button id="insertButton">Insert into database</button>

  <hr/>
  Name: <input id="deleteNameBox" type="text" size="20"/>
  <button id="deleteButton">Delete from database</button>

  <hr/>
<div id="status"></div>

<script>
$(document).ready(() => {
  const database = firebase.database();
  $('#resetButton').click(() => {
    console.log('Resetting the database');
    /* remember the fake JavaScript object database from PetsApp v1?
    const fakeDatabase = {
      'Philip': {job: 'professor', pet: 'cat.jpg'},
      'John': {job: 'student',   pet: 'dog.jpg'},
      'Carol': {job: 'engineer',  pet: 'bear.jpg'}
    };
    */
    database.ref('users/').remove(); // delete the entire collection
    // writes data to the database:
    database.ref('users/Philip').set({job: 'professor', pet: 'cat.jpg'});
    database.ref('users/John').set({job: 'student',   pet: 'dog.jpg'});
    database.ref('users/Carol').set({job: 'engineer',  pet: 'bear.jpg'});
  });
  // use .on('value' to get notified in real-time whenever anyone
  // on the internet updates your database. cool!
  database.ref('users/').on('value', (snapshot) => {
    const allUsers = snapshot.val();
    console.log('users/ changed:', allUsers);
    if (allUsers) {
      $('#status').html(''); // clear the HTML
      $('#status').append('List of users:');
      Object.keys(allUsers).forEach((name) => {
        $('#status').append('<li>' + name + ' ' + allUsers[name].job + ' ' + allUsers[name].pet + '</li>');
      });
    }
  });
  $('#readButton').click(() => {
    const key = 'users/' + $('#nameBox').val();
    // 'once' reads the value once from the database
    database.ref(key).once('value', (snapshot) => {
      const data = snapshot.val();
      console.log('You received some data!', data);
      if (!data) {
        // clear the display
        $('#jobDiv').html('');
        $('#petImage').attr('src', '').attr('width', '0px');
        $('#status').html('Error: could not find user: ' + key);
        return;
      }
      if (data.job && data.pet) {
        $('#jobDiv').html('My job is ' + data.job);
        $('#petImage').attr('src', data.pet).attr('width', '300px');
      } else {
        // clear the display
        $('#jobDiv').html('');
        $('#petImage').attr('src', '').attr('width', '0px');
      }
    });
  });
  $('#allUsersButton').click(() => {
    database.ref('users/').once('value', (snapshot) => {
      const data = snapshot.val();
      console.log('You received some data!', data);
      $('#status').html('All users: ' + Object.keys(data));
    });
  });
  $('#insertButton').click(() => {
    const name = $('#insertNameBox').val();
    database.ref('users/' + name).set({
      job: $('#insertJobBox').val(),
      pet: $('#insertPetBox').val()
    });
  });
  $('#deleteButton').click(() => {
    const name = $('#deleteNameBox').val();
    database.ref('users/' + name).remove();
  });
});
</script>