<h1>Add Item</h1>
<hr/>
<div class="mt-5">
    <div class="optionsForm">
        <div class="optionsForm-content">
            <div style="padding-bottom: 75px;">
                <h3 class="mb-3">New Items</h3>
                <a href='addItem/manualEntry' class="btn btn-primary btn-lg">Manual Entry</a>
                <span class="ml-2 mr-2">or</span>
                <a href='addItem/upcLookup' class="btn btn-primary btn-lg">UPC Lookup</a>
            </div>
            <h3 class="mb-3">Update Existing Items</h3>
            <a href='addItem/updateExisting' class="btn btn-primary btn-lg">Add Quantity to Existing Items</a>
        </div>
    </div>
</div>
