<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="http://localhost:3000/">BackRoom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="/viewInventory">View Inventory</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/addItem">Add Item</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/checkoutItem">Checkout Item</a>
            </li>
        </ul>
        <div class="mt-2 mt-md-0">
            <a href="/login" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</a>
        </div>
    </div>
</nav>

<h1>{{title}}</h1>
<hr/>

<form class="itemform">
  <div class="form-group row">
    <label for="locationSelect" class="col-sm-2">Item Location</label>
    <div class="col-4">
      <select class="form-control" id="locationSelect">
      <option value="">-- Select --</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="nameSelect" class="col-sm-2">Item Name</label>
    <div class="col-4">
      <select class="form-control" id="nameSelect">
      <option value="">-- Select --</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="itemImg" class="col-sm-2">Item Image</label>
    <div class="col-sm-4">
      <img style="max-width: 300px; max-height: 300px;" id="itemImg" src="#" alt="Image."/>
    </div>
  </div>

  <div class="form-group row">
      <label for="nameSelect" class="col-sm-2">Item Barcode</label>
      <div class="col-4">
      <input class="form-control" id="barCodeBox" type='text' size = '20' readonly/>
    </div>
  </div>

  <div class="form-group row">
      <label for="nameSelect" class="col-sm-2">Current Stock</label>
      <div class="col-4">
      <input class="form-control" id="numBox" type='text' size="20" required="required" readonly/>
    </div>
  </div>

  <div class="form-group row">
      <label for="nameSelect" class="col-sm-2">Checkout Amount</label>
      <div class="col-4">
      <input class="form-control" id="checkNumBox" type='number' size="20" required="required" />
    </div>
  </div>

  <button type="button" class="btn btn-danger" id='checkoutButton'>Checkout Items</button>
</form>
<!-- Remove status for final turn-in! -->
<br/>
<br/>
<br/>
<div id="status"></div>


<script>
$(document).ready(() => {
const database = firebase.database();

var x = document.getElementById("locationSelect");


database.ref('items/').on('value', (snapshot) => {
  allItems = snapshot.val();
  Object.keys(allItems).forEach((name) => {
    var option = document.createElement("option");
    option.text = name;
    option.value = name;
    x.add(option);

  });
});

//auto populating

$('#locationSelect').on('change', function(e){
  var yourSelect = document.getElementById("locationSelect");
  var selectedName = yourSelect.options[yourSelect.selectedIndex].value;
  database.ref('items/' + selectedName).on('value', (snapshot) => {
    var select = document.getElementById("nameSelect");
    document.getElementById('nameSelect').innerHTML = "";
    allItems = snapshot.val();

    var option = document.createElement("option");
    option.text = '--Select--';
    select.add(option);
    Object.keys(allItems).forEach((name) => {
      var option = document.createElement("option");

      option.text = allItems[name].name;
      option.value = name;
      select.add(option);
    });
  });
});


$('#nameSelect').on('change', function(e){
  var yourSelect = document.getElementById("nameSelect");
  var selectedName = yourSelect.options[yourSelect.selectedIndex].value;
  var locationSelect = document.getElementById("locationSelect");
  var location = locationSelect.options[locationSelect.selectedIndex].value;
  var selectedUnit = 'unit';
  database.ref('items/' + location+'/'+selectedName+ '/' + selectedUnit).on('value', (snapshot) => {
    var vals = snapshot.val();
    $('#barCodeBox').val(selectedName);
    $('#numBox').val(vals.number);
    $('#itemImg').attr("src", vals.image);
    console.log(selectedName);
  });
});

$('#checkoutButton').click(() => {
  const yourSelect = document.getElementById("nameSelect");
  const name = yourSelect.options[yourSelect.selectedIndex].text;

  const units = 'unit';

  var locationSelect = document.getElementById("locationSelect");
  var location = locationSelect.options[locationSelect.selectedIndex].value;

  const barCode = $('#barCodeBox').val();
  if( name == "" || units == "" || $('#checkNumBox').val()=='') {
    console.log('no input');
    return;
  }
  const dbLink = location+'/'+barCode + '/'+units;
  const key = 'items/' + dbLink;
  console.log(key);
  // 'once' reads the value once from the database
  database.ref(key).once('value', (snapshot) => {
    const data = snapshot.val();
    console.log('You received some data!', data);
    if (!data) {
      // clear the display
      console.log('Item does not Exist');
      return;
    }
    if (data.number && data.unit) {
      const checkoutAmount = parseInt($('#checkNumBox').val());
      if (data.number >= checkoutAmount) {
        total = parseInt(data.number) - checkoutAmount;
        database.ref('items/' +location+'/'+barCode + '/'+units).update({
          number: total
        });
      } else {
        // clear the display
        console.log("error");
        alert("ERROR: Checkout amount is greater than available!")
      }
        return;
      }
    });
  });
});
</script>
