<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="http://localhost:3000/">BackRoom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="/viewInventory">View Inventory</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/addItem">Add Item</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/checkoutItem">Checkout Item</a>
            </li>
        </ul>
        <div class="mt-2 mt-md-0">
            <a href="/login" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</a>
        </div>
    </div>
</nav>

<h1>{{title}}</h1>

<button id="resetButton">Reset database</button>
<hr/>

<div class="form-group row">
  <label for="nameSelect" class="col-sm-2">Item Name</label>
  <div class="col-4">
    <select class="form-control" id="nameSelect">
    <option value="">-- Select --</option>
    </select>
  </div>
</div>

<br>

<div class="form-group row">
  <label for="unitSelect" class="col-sm-2">Unit</label>
  <div class="col-4">
    <select class="form-control"  id="unitSelect">
    <option value="">-- Select --</option>
    </select>
  </div>
</div>
<br>
<button type="button" class="btn btn-danger" id='checkoutButton'>Checkout Items</button>
<div id="status"></div>

{{!--
Item Barcode: <input id="barCodeBox" type='text' size = '20' readonly/>
<br>
Current Number: <input id="numBox" type='number' size="20" required="required" readonly/>
<br>
Checkout Number : <input id="checkNumBox" type='number' size="20" required="required" /> --}}


<script>
$(document).ready(() => {
const database = firebase.database();

database.ref('users/').on('value', (snapshot) => {
  const allUsers = snapshot.val();
  console.log('users/ changed:', allUsers);
  if (allUsers) {
    $('#status').html(''); // clear the HTML
    $('#status').append('List of users:');
    Object.keys(allUsers).forEach((name) => {
      $('#status').append('<li>' + name + ' ' + allUsers[name].job + ' ' + allUsers[name].pet + '</li>');
    });
  }
});

var x = document.getElementById("nameSelect");


database.ref('items/').on('value', (snapshot) => {

  allItems = snapshot.val();
  Object.keys(allItems).forEach((name) => {
    var option = document.createElement("option");
    option.text = allItems[name].name;
    option.value = name;
    x.add(option);

  });
});


$('#resetButton').click(() => {
  console.log('Resetting the database');
  /* remember the fake JavaScript object database from PetsApp v1?
  const fakeDatabase = {
    'Philip': {job: 'professor', pet: 'cat.jpg'},
    'John': {job: 'student',   pet: 'dog.jpg'},
    'Carol': {job: 'engineer',  pet: 'bear.jpg'}
  };
  */
  database.ref('users/').remove(); // delete the entire collection
  database.ref('items/').remove();
  // writes data to the database:
  database.ref('users/Philip').set({job: 'professor', pet: 'cat.jpg'});
  database.ref('users/John').set({job: 'student',   pet: 'dog.jpg'});
  database.ref('users/Carol').set({job: 'engineer',  pet: 'bear.jpg'});
});
// use .on('value' to get notified in real-time whenever anyone
// on the internet updates your database. cool!
database.ref('items/').on('value', (snapshot) => {
  const allUsers = snapshot.val();
  console.log('users/ changed:', allUsers);
  if (allUsers) {
    $('#status').html(''); // clear the HTML
    $('#status').append('List of users:');
    Object.keys(allUsers).forEach((name) => {
      $('#status').append('<li>' + name + ' ' + allUsers[name].number + ' ' + allUsers[name].unit + '</li>');
    });
  }
});

//auto populating
$('#nameSelect').on('change', function(e){
  var yourSelect = document.getElementById("nameSelect");
  var selectedName = yourSelect.options[yourSelect.selectedIndex].value;
  database.ref('items/' + selectedName).on('value', (snapshot) => {
    var select = document.getElementById("unitSelect");
    document.getElementById('unitSelect').innerHTML = "";
    allItems = snapshot.val();

    var option = document.createElement("option");
    option.text = '--Select--';
    select.add(option);
    Object.keys(allItems).forEach((name) => {
      if (name != 'name') {
        var option = document.createElement("option");
        option.text = name;
        select.add(option);
      }

    });
  });
});

$('#unitSelect').on('change', function(e){
  var yourSelect = document.getElementById("nameSelect");
  var selectedName = yourSelect.options[yourSelect.selectedIndex].value;

  var unitSelect = document.getElementById("unitSelect");
  var selectedUnit = unitSelect.options[unitSelect.selectedIndex].value;
  database.ref('items/' + selectedName+ '/' + selectedUnit).on('value', (snapshot) => {
    var vals = snapshot.val();
    $('#barCodeBox').val(selectedName);
    $('#numBox').val(vals.number);
    console.log(selectedName)
  });
});


$('#checkoutButton').click(() => {
  const yourSelect = document.getElementById("nameSelect");
  const name = yourSelect.options[yourSelect.selectedIndex].text;

  const unitSelect = document.getElementById("unitSelect");
  const units = unitSelect.options[unitSelect.selectedIndex].value;
  const barCode = $('#barCodeBox').val();
  if( name == "" || units == "" || $('#checkNumBox').val()=='') {
    console.log('no input')
    return;
  }
  const dbLink = barCode + '/'+units;
  const key = 'items/' + dbLink;
  // 'once' reads the value once from the database
  database.ref(key).once('value', (snapshot) => {
    const data = snapshot.val();
    console.log('You received some data!', data);
    if (!data) {
      // clear the display
      console.log('Item Does not Exist');
      return;
    }
    if (data.number && data.unit) {
      total = parseInt(data.number) - parseInt($('#checkNumBox').val())
      database.ref('items/' +barCode + '/'+units).set({
        number: total,
        unit: units,
        name: name
      });
      return;
    } else {
      // clear the display
      console.log("error");
      return;
    }
  });
});

});
</script>
