<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="http://localhost:3000/viewInventory" class="btn btn-lg btn-primary btn-block">View Inventory</a>
<a href="http://localhost:3000/addItem" class="btn btn-lg btn-primary btn-block">Add Inventory</a>
<a href="http://localhost:3000/checkoutItem" class="btn btn-lg btn-primary btn-block">Checkout Inventory</a>