<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="http://localhost:3000/">BackRoom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="/viewInventory">View Inventory</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/addItem">Add Item</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/checkoutItem">Checkout Item</a>
            </li>
        </ul>
        <div class="mt-2 mt-md-0">
            <a href="/login" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</a>
        </div>
    </div>
</nav>


<h1>{{queryItem.name}}</h1>
<hr/>

<div id="status"></div>
<!--
<script>
$(document).ready(() => {
const database = firebase.database();
    // use .on('value' to get notified in real-time whenever anyone
    // on the internet updates your database. cool!
    database.ref('items/').on('value', (snapshot) => {
    const allItems = snapshot.val();
    $('#status').html(''); // clear the HTML
    if (allItems) {
        Object.keys(allItems).forEach((id) => {
            console.log(id);
            const typeDict = allItems[id];
            Object.keys(typeDict).forEach((type) => {
                    if (type != "name") {
                        console.log("ID: "+ id+" Name: "+ typeDict[type].name + " Type: " + type + " Number: "+ typeDict[type].number);
                        const newCard = $('<a>', {href:'viewInventory/inventoryItem?id='+id, class:"card mb-3", style:"max-width: 540px;"});
                        const cardBlock = $('<div>', {class:"row no-gutters"});
                        const cardImageBlock = $('<div>', {class:"col-md-4"});
                        const cardImageStyle =  $('<img>', {
                                                                width:'100%', 
                                                                height:'100%', 
                                                                src: 'https://klekt.s3.amazonaws.com/4995183-klekt-supreme-brick-normal.jpg',
                                                                class:"card-img",
                                                                alt: id
                                                            });
                        const cardTextBlock = $('<div>', {class:"col-md-8"});
                        const cardTextBody = $('<div>', {class:"card-body"});
                        const cardItemTitle = $('<h5>', {class:"card-text"}).append(typeDict[type].name);
                        const cardItemAmount = $('<p>', {class:"card-text"}).append(typeDict[type].number + ' ' + type);
                        const cardTimestamp = $('<p class="card-text"><small class="text-muted">Last updated X mins ago</small></p>');
                        const card = newCard.append(cardBlock.append(cardImageBlock.append(cardImageStyle)));
                        
                        cardBlock.append(cardTextBlock.append(cardTextBody.append(cardItemTitle, cardItemAmount, cardTimestamp)));
                        $('#status').append(card);
                    }
                });
            });
        }
    });
});

</script>
-->