<!DOCTYPE html>
<html>
  <head>
    <base href="http://localhost:3000/">
    <title>{{title}}</title>
    
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyB6-MM2GPenEPXa8F4B2j-tIrMH9J11LAc",
        authDomain: "cogs121-app.firebaseapp.com",
        databaseURL: "https://cogs121-app.firebaseio.com",
        projectId: "cogs121-app",
        storageBucket: "cogs121-app.appspot.com",
        messagingSenderId: "115116152043"
      };
      firebase.initializeApp(config);
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/{{style}}'/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  </head>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand ml-3" href="http://localhost:3000/">BackRoom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/viewInventory">View Inventory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModalCenter" style="cursor: pointer">
             Add Item
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/checkoutItem">Checkout Item</a>
          </li>
      </ul>
        <div class="mt-2 mt-md-0">
            <a href="/login" class="btn btn-light btn-outline-danger mr-3">Sign Out</a>
        </div>
    </div>
  </nav>

  <body>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold" id="exampleModalCenterTitle">Add Item Options</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="mb-3">New Items</h5>
          <a href='addItem/manualEntry' class="btn btn-primary btn-lg">Manual Item Entry</a>
          <span class="ml-2 mr-2">or</span>
          <a href='addItem/upcLookup' class="btn btn-primary btn-lg">UPC Item Lookup</a>
          <hr/>
          <h5 class="mb-3">Update Existing Items</h5>
          <a href='addItem/updateExisting' class="btn btn-primary btn-lg">Add Quantity to Existing Items</a>
        </div>
      </div>
    </div>
  </div>
    {{{body}}}
  </body>
</html>
