 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="http://localhost:3000/">BackRoom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/viewInventory">View Inventory</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/addItem">Add Item</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/checkoutItem">Checkout Item</a>
        </li>
    </ul>
    </div>
    <div class="mt-2 mt-md-0">
    <a href="http://localhost:3000/login" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</a>
    </div>
</nav>

  <h1>Add Item - UPC Lookup</h1>
  <hr/>
  Item Barcode: <input id="barcodeBox" type='text' size = '20'/>
  <button id='upcLookupButton'>Lookup UPC</button>
  <div id="status"></div>

<script>

const opts = {
  hostname: 'api.upcitemdb.com',
  path: '/prod/trial/lookup',
  method: 'POST',
  headers: {
    "Content-Type": "application/json"
  }
}

$(document).ready(() => {
  const database = firebase.database();

  $('#upcLookupButton').click(() => {
    const upcCode = $('#barcodeBox').val();
    console.log(upcCode);
    $.ajax({
      method: 'POST',
      url: '/addItem/upcLookup?upc=' + upcCode,
      success: (data) => {
        $('#status').html(''); // clear the HTML
        $('#status').append('JSON Data:');
        $('#status').append(data);
      }
    });
    console.log("Done");
  });

});
</script>
