<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="http://localhost:3000/">BackRoom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="/viewInventory">View Inventory</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/addItem">Add Item</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/checkoutItem">Checkout Item</a>
            </li>
        </ul>
        <div class="mt-2 mt-md-0">
            <a href="/login" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</a>
        </div>
    </div>
</nav>

  <h1>Add Item - UPC Lookup</h1>
  <hr/>
  Item Barcode: <input id="barcodeBox" type='text' size = '20'/>
  <button id='upcLookupButton'>Lookup UPC</button>
  <div id="status"></div>

<script>

$(document).ready(() => {
  const database = firebase.database();
  $('#status').html(''); // clear the HTML
  $('#upcLookupButton').click(() => {
    const upcCode = $('#barcodeBox').val();
    if (upcCode == null) {
      $('#status').append('Please enter a UPC code!');
    }
    console.log(upcCode);
    $.ajax({
      method: 'POST',
      url: '/addItem/upcLookup?upc=' + upcCode,
      datatype: 'json',
      success: (data) => {
        console.log(data);
        switch (data.statusCode) {
          case 200:
            console.log("OK");
            $('#status').append('<p>JSON Data: </p>');
            $.each(data.body.items, (index, element) => {
              $('#status').append('<p>' + element.title + '</p>' + '</br>');
              if (element.images) {
                $('#status').append($('<img />', {
                  src: element.images[0],
                  class: 'item-image',
                  id: 'img-upc-' + element.upc,
                  alt: element.title
                }));
              }
            });
            break;
          case 400:
            $('#status').append(data.body.message + ' Please try again.');
            break;
        }
      }
    });
  });

});
</script>
