<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="http://localhost:3000/">BackRoom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="/viewInventory">View Inventory</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/addItem">Add Item</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/checkoutItem">Checkout Item</a>
            </li>
        </ul>
        <div class="mt-2 mt-md-0">
            <a href="/login" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</a>
        </div>
    </div>
</nav>

  <h1>Add Item - UPC Lookup</h1>
  <hr/>
  <div id="status"></div>
  
  <form>
  <div class="form-group row">
    <label for="barCode" class="col-sm-2">Item Barcode</label>
    <div class="col-sm-4 input-group">
      <input type="text" class="form-control" id="barCodeBox" required="required">
      <button class="btn btn-default" id='upcLookupButton'>
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>

  <div class="form-group row">
    <label for="nameBox" class="col-sm-2">Item Name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="nameBox" required="required">
    </div>
  </div>


  <div class="form-group row">
    <label for="itemImg" class="col-sm-2">Item Image</label>
    <div class="col-sm-4">
      <input type="file" id="imgInput" name="pic" accept="image/*">
      <img style="max-width: 300px; max-height: 300px;" id="itemImg" src="#" alt="Your Image."/>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="numBox" class="col-sm-2">Item Quantity</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="numBox" required="required">
    </div>
  </div>
  <div class="form-group row">
    <label for="unitBox" class="col-sm-2">Units</label>
    <div class="col-sm-4">
      <input id="unitBox" class="form-control" type='text' size = "20" required="required"/>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-success" id='insertButton'>Add Item</button>
      <div id="status"></div>
    </div>
  </div>
</form>

<script>

$(document).ready(() => {
  const database = firebase.database();
  $('#status').html(''); // clear the HTML
  $('#itemImg').hide();
  $('#upcLookupButton').click(() => {
    const upcCode = $('#barCodeBox').val();
    if (upcCode == null) {
      $('#status').append('Please enter a UPC code!');
    }
    console.log(upcCode);
    $.ajax({
      method: 'POST',
      url: '/addItem/upcLookup?upc=' + upcCode,
      datatype: 'json',
      success: (data) => {
        console.log(data);
        switch (data.statusCode) {
          case 200:
            $.each(data.body.items, (index, element) => {
              $('#nameBox').val(element.title);
              $('#barCodeBox').val(element.upc);
            });
            break;
          case 400:
            $('#status').append(data.body.message + ' Please try again.');
            break;
        }
      }
    });
  });

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function(e) {
        $('#itemImg').attr('src', e.target.result);
        $('#itemImg').show();
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#imgInput").change(function() {
    readURL(this);
  });

});
</script>
