<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="http://localhost:3000/">BackRoom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="/viewInventory">View Inventory</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/addItem">Add Item</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/checkoutItem">Checkout Item</a>
            </li>
        </ul>
        <div class="mt-2 mt-md-0">
            <a href="/login" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</a>
        </div>
    </div>
</nav>


<h1>{{title}}</h1>
<hr/>
<div class="form-group row">
  <label for="locationSelect" class="col-sm-2">Sort By Location</label>
  <div class="col-4">
    <select class="form-control" id="locationSelect">
    <option value="All Locations">All Locations</option>
    </select>
  </div>
</div>
<div id="status"></div>

<!-- HTML skeleton for card
  <div class="card ml-3" style="height: 360px; width: 18rem;">
  <img class="card-img-top" style="height:200px;" src="https://firebasestorage.googleapis.com/v0/b/cogs121-app.appspot.com/o/items%2Fsd1%2F885909950805%2Funit%2FS1100001.JPG?alt=media&token=a24b3591-7859-4623-a7e5-1f72c9622bb8" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Apple - Iphone 6 64gb - Space Gray</h5>
    <p class="card-text item-units">1 unit</p>
    <p class="card-text item-upc">UPC ID: 885909950805</p>
  </div>
</div> -->

<script>
$(document).ready(() => {

    var x = document.getElementById("locationSelect");

    const database = firebase.database();

    database.ref('items/').on('value', (snapshot) => {
        allItems = snapshot.val();
        Object.keys(allItems).forEach((name) => {
            var option = document.createElement("option");
            option.text = name;
            option.value = name;
            x.add(option);

        });
    });


    // use .on('value' to get notified in real-time whenever anyone
    // on the internet updates your database. cool!
    database.ref('items/').on('value', (snapshot) => {
    const allLocations = snapshot.val();
    $('#status').html(''); // clear the HTML
    if (allLocations) {
        Object.keys(allLocations).forEach((location) => {
            const locationInventory = allLocations[location];
            $('#status').append('<h3 class="location">'+location+'</h3>');
            Object.keys(locationInventory).forEach((itemBarcode) => {
                const item = locationInventory[itemBarcode];
                Object.keys(item).forEach((itemUnit) => {
                    if (itemUnit != "name") {
                        const itemRecord = item[itemUnit];
                        const itemBarcode = itemRecord.barcode;
                        const itemName = itemRecord.name;
                        const itemType = itemRecord.unit;
                        const itemQuantity = itemRecord.number;
                            console.log("Barcode ID: "+ itemBarcode +" Name: "+ itemName + " Unit: " + itemType + " Quantity: " + itemQuantity);
                            //const newCard = $('<a>', {href:'viewInventory/inventoryItem?id='+itemBarcode+'&type='+itemType+'&location='+location, class:"card mb-3", style:"max-width: 400px;"});
                            const cardWrapper = $('<div>', {class:"card mb-3 ml-3", style:"height: 360px; width: 18rem;"});
                            const cardImage =  $('<img>', {
                                src: itemRecord.image,
                                class:"card-img-top",
                                alt: itemBarcode,
                                style: "height: 200px"
                            });
                            const cardBody = $('<div>', {class:"card-body"});
                            const cardItemTitle = $('<h5>', {class:"card-title item-title"}).append(itemName);
                            const cardItemQuantity = $('<p>', {class:"card-text item-units"}).append(itemQuantity + " " + itemType);
                            const cardItemBarcode = $('<p>', {class:"card-text item-upc"}).append("UPC ID: " + itemBarcode);
                            const card = cardWrapper.append(cardImage, cardBody);
                            cardBody.append(cardItemTitle, cardItemQuantity, cardItemBarcode);

                            $('#status').append(card);
                        }
                    });
                });
            });
        }  else {
            $('#status').append($('<p>').append("You have no items in your inventory."));
        }
    });

    $('#locationSelect').on('change', function(e){
    const database = firebase.database();

    var yourSelect = document.getElementById("locationSelect");
    var selectedName = yourSelect.options[yourSelect.selectedIndex].value;

    database.ref('items/').on('value', (snapshot) => {
    const allLocations = snapshot.val();
    $('#status').html(''); // clear the HTML
    if (allLocations) {
        Object.keys(allLocations).forEach((location) => {
            if(location == selectedName || selectedName == 'All Locations'){
            const locationInventory = allLocations[location];
            $('#status').append('<h3 class="location">'+location+'</h3>');
            Object.keys(locationInventory).forEach((itemBarcode) => {
                const item = locationInventory[itemBarcode];
                Object.keys(item).forEach((itemUnit) => {
                    if (itemUnit != "name") {
                        const itemRecord = item[itemUnit];
                        const itemBarcode = itemRecord.barcode;
                        const itemName = itemRecord.name;
                        const itemType = itemRecord.unit;
                        const itemQuantity = itemRecord.number;
                            console.log("Barcode ID: "+ itemBarcode +" Name: "+ itemName + " Unit: " + itemType + " Quantity: " + itemQuantity);
                            //const newCard = $('<a>', {href:'viewInventory/inventoryItem?id='+itemBarcode+'&type='+itemType+'&location='+location, class:"card mb-3", style:"max-width: 400px;"});
                            const cardWrapper = $('<div>', {class:"card mb-3 ml-3", style:"height: 360px; width: 18rem;"});
                            const cardImage =  $('<img>', {
                                src: itemRecord.image,
                                class:"card-img-top",
                                alt: itemBarcode,
                                style: "height: 200px"
                            });
                            const cardBody = $('<div>', {class:"card-body"});
                            const cardItemTitle = $('<h5>', {class:"card-title item-title"}).append(itemName);
                            const cardItemQuantity = $('<p>', {class:"card-text item-units"}).append(itemQuantity + " " + itemType);
                            const cardItemBarcode = $('<p>', {class:"card-text item-upc"}).append("UPC ID: " + itemBarcode);
                            const card = cardWrapper.append(cardImage, cardBody);
                            cardBody.append(cardItemTitle, cardItemQuantity, cardItemBarcode);

                            $('#status').append(card);
                        }
                    });
                });
                }
            });
        }  else {
            $('#status').append($('<p>').append("You have no items in your inventory."));
        }
    });
    });

});
</script>
